body{
    font-family:Arial;
    background:#eef;
    display:flex;
    justify-content:center;
}

.card{
    background:white;
    width:500px;
    margin-top:40px;
    padding:20px;
    border-radius:10px;
}

input{
    width:80%;
    padding:10px;
}

button{
    padding:10px;
}

#chat{
    margin-bottom:20px;
}
